body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#quiz-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

#question{
    color: black
}

.score-wrap{
    display: flex;
    justify-content: center;

}